<!-- Navbar -->
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <!-- Logo de la aplicación -->
    <a class="navbar-brand" href="#">
      <i class="bi bi-building"></i> celulares App
    </a>
    <!-- Enlaces de navegación -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a routerLink="celulares" routerLinkActive="active" class="nav-link">
          <i class="bi bi-list-ul"></i> Lista de celulares
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="crear-celular" routerLinkActive="active" class="nav-link">
          <i class="bi bi-plus-circle"></i> Añadir celular
        </a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
